body {

    background-color: aqua;
}

h1 {

    color: #F0F;
    font-size: 4rem;
}

@keyframes strobo {

    0% {

        background-color: #F0F;
    }

    50% {

        background-color: aqua;
    }

    100% {

        background-color: #F0F;
    }

    
}


